@charset "utf-8";
/* CSS Document */
.T1 {margin-bottom: -80px;margin-top: -48px}

#menu {font-size: 25px;font-family: Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif";align-items: center;  }

#menu ul{ list-style-type: none;padding: 0px; text-align: center}

#menu ul li{float: left;
	width: 158px; height: 44px;  padding-top: 8px;border: 1px solid #617ADB;
position: relative;background-color: lavender; border-radius: 3px;}
#menu ul li ul li{width: 145px; height: 32px;; font-size: 16px}

.submenu { display: none;
position: absolute;z-index: 90;}

#menu li:hover .submenu{display: block}


.Service{background-color: lavender;border-radius: 3px;margin-top: 11px; border-top: none}


.T3 {
	font-size: 18px;
	border: solid;
	border-radius: 10px;
	border-width: 1px;
	border-color: #392E2E;
	background-color: antiquewhite;
	box-shadow: 4px 4px 4px;
	margin-top: 100px;
	margin-bottom: 20px
}

table tr td a{
	color:#C00;
	text-decoration:none;}
#N1{
	border-style:solid;}
table tr td a:hover{
	text-decoration:underline;
	color:#09F;}
table tr td ul{ display:none;
}
table tr td:hover ul{
	display:block}
table tr td ul li{
	font-size:20px;
	color:#C00;
	text-align:left;}


#T4{text-align:center;
font-size:30px;font-size: 25px; font-family: Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif"}

#FBQS{border: groove; background-color:white ; color:black;border-radius: 3px}

#FB{background-color:black; color:white ;border-radius: 3px}
#N7 tr td ul {
	display:block;}
#N7{
	border-width:1px;
	box-shadow:5px 5px 5px #666666;
	border-radius:10px;
	border-color:#000;
	border-top-color:#333;
	border-left-color:#333;
	border-bottom-style:solid;
	border-left-style:solid;
	border-top-style:solid;}
#N7 tr td ul li {
	font-size:30px;}
#N7 tr td ul p {
	font-size:25px;
	text-indent:10px;}
#N7 tr td ul #N8 li {
	color:#000;
	font-size:20px;}


.T6 {margin-top: 25px;
margin-bottom: 25px;
	text-align: center}
#T6 {text-align:left;border:dotted #929603;  background-color:lightsalmon ; border-radius: 10px;}

.icon{margin-top: 2px ; margin-left: 10px; float: left}

.icon1{margin-top:2px;margin-left: 10px;float: left}

.icon2{margin-top: 2px;margin-left: 10px;  float: left}







img.center{display: block; margin-left: auto; margin-right: auto;}
