@charset "utf-8";
/* CSS Document */
.T1 {margin-top: -20px;
text-align: center}

.T2 {margin-top:-20px;
text-align: center;
font-size: 25px}

.T3 {text-align:center;
font-size:36px;}

.T4{text-align:center;
font-size:30px;}

.T5 {font-size:20px;
text-align:center;
margin-bottom:25px}

.T6 {margin-top: 25px;
margin-bottom: 25px;
	text-align:center}
#T6 {}

.T7 {
	text-align: center;
	font-size: 18px;
}
.T8{
	text-align: left;
	font-size: 18px;
	margin-left: 300px;
}
img.center{display: block; margin-left: auto; margin-right: auto;}
