@charset "utf-8";
/* CSS Document */

#T3 tr td h3{
	text-align:center;
	font-size:30px;}
#T3 tr td img{
	text-align:center;
	}
#T3 tr td{
	border-width:3px;
	border-style: solid}
#T3 {
	border-width:1px;
	border-style:solid;
	border-radius:10px;
	box-shadow:10px 10px 10px #999999;}
	
#T3 tr td h4{
	text-align:center;}